@import './variables';
@import './products.scss';
@import './header.scss';
@import './modal.scss';

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.product-container {
  padding-left: nth($space, 2);
  padding-right: nth($space, 2);
  margin-left: auto;
  margin-right: auto;
  padding-top: nth($space, 4);
  padding-bottom: nth($space, 4);
  max-width: $containerWidth;
  position: relative;
  &__loader {
    text-align: center;
    position: absolute;
    left: 50%;
    top: -13px;
    &--hidden {
      display: none;
    }
  }
}

.disabled {
  pointer-events: none;
}
