$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$breakpoints: (
  '480px',
  '768px',
  '1024px',
  '1280px'
);
$space: (
  8px,
  16px,
  24px,
  32px,
  40px
);
$fontSizes: (
  14px,
  16px,
  24px,
  32px,
  72px
);
$containerWidth: 1004px;
