.modal-wrap {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.modal-wrap.visible {
  opacity: 1;
  visibility: visible;
}

.modal-container {
  background: #fff;
  margin: 1em auto;
  max-width: 100%;
  width: auto;
  z-index: 100;
  &__header {
    background: #c5eff7;
    float: left;
    width: 100%;
    position: relative;
    &__close-modal {
      background: transparent;
      border: 0;
      color: #000;
      cursor: pointer;
      float: right;
      font-size: nth($space, 5);
      opacity: 0.4;
      transition: all 0.3s ease-in-out;
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
        opacity: 1;
      }
    }
    &__title {
      color: #000;
      float: left;
      font-size: 2em;
      margin: 0;
      padding: nth($space, 2) nth($space, 4);
    }
  }
  &__content {
    float: left;
    margin: 0;
    padding: nth($space, 2) nth($space, 4);
    width: 100%;
    box-sizing: border-box;
  }
}

.modal-loading {
  position: absolute;
  left: 50%;
  margin: 0;
  transition: opacity 100ms;
}
